USE [EMPDB]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__EMPLOYEE__EMPSTA__534D60F1]') AND parent_object_id = OBJECT_ID(N'[dbo].[EMPLOYEE]'))
ALTER TABLE [dbo].[EMPLOYEE] DROP CONSTRAINT [FK__EMPLOYEE__EMPSTA__534D60F1]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__EMPLOYEE__EMPGEN__52593CB8]') AND parent_object_id = OBJECT_ID(N'[dbo].[EMPLOYEE]'))
ALTER TABLE [dbo].[EMPLOYEE] DROP CONSTRAINT [FK__EMPLOYEE__EMPGEN__52593CB8]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__EMPLOYEE__EMPDEP__5535A963]') AND parent_object_id = OBJECT_ID(N'[dbo].[EMPLOYEE]'))
ALTER TABLE [dbo].[EMPLOYEE] DROP CONSTRAINT [FK__EMPLOYEE__EMPDEP__5535A963]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__EMPLOYEE__EMPCIT__5441852A]') AND parent_object_id = OBJECT_ID(N'[dbo].[EMPLOYEE]'))
ALTER TABLE [dbo].[EMPLOYEE] DROP CONSTRAINT [FK__EMPLOYEE__EMPCIT__5441852A]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__CITY__STATEID__4F7CD00D]') AND parent_object_id = OBJECT_ID(N'[dbo].[CITY]'))
ALTER TABLE [dbo].[CITY] DROP CONSTRAINT [FK__CITY__STATEID__4F7CD00D]
GO
/****** Object:  Table [dbo].[STATE]    Script Date: 03-01-2025 01:55:49 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[STATE]') AND type in (N'U'))
DROP TABLE [dbo].[STATE]
GO
/****** Object:  Table [dbo].[GENDER]    Script Date: 03-01-2025 01:55:49 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GENDER]') AND type in (N'U'))
DROP TABLE [dbo].[GENDER]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 03-01-2025 01:55:49 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMPLOYEE]') AND type in (N'U'))
DROP TABLE [dbo].[EMPLOYEE]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 03-01-2025 01:55:49 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DEPARTMENT]') AND type in (N'U'))
DROP TABLE [dbo].[DEPARTMENT]
GO
/****** Object:  Table [dbo].[CITY]    Script Date: 03-01-2025 01:55:49 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CITY]') AND type in (N'U'))
DROP TABLE [dbo].[CITY]
GO
USE [master]
GO
/****** Object:  Database [EMPDB]    Script Date: 03-01-2025 01:55:49 PM ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'EMPDB')
DROP DATABASE [EMPDB]
GO
/****** Object:  Database [EMPDB]    Script Date: 03-01-2025 01:55:49 PM ******/
CREATE DATABASE [EMPDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EMPDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EMPDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EMPDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EMPDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMPDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EMPDB]
GO
/****** Object:  Table [dbo].[CITY]    Script Date: 03-01-2025 01:55:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITY](
	[CITYID] [int] IDENTITY(1,1) NOT NULL,
	[CITYNAME] [nvarchar](max) NULL,
	[STATEID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CITYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 03-01-2025 01:55:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DEPTID] [int] IDENTITY(1,1) NOT NULL,
	[DEPTNAME] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DEPTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 03-01-2025 01:55:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMPID] [int] IDENTITY(1,1) NOT NULL,
	[EMPNAME] [nvarchar](max) NULL,
	[EMPEMAIL] [nvarchar](max) NULL,
	[EMPPHONE] [char](10) NULL,
	[EMPADDRESS] [nvarchar](max) NULL,
	[EMPGENDER] [int] NULL,
	[EMPSTATE] [int] NULL,
	[EMPCITY] [int] NULL,
	[EMPDEPT] [int] NULL,
	[ACTIVEFLAG] [char](1) NULL,
	[DELETEFLAG] [char](1) NULL,
	[EMPDOJ] [date] NULL,
	[EMPDOB] [date] NULL,
	[empsal] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[EMPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENDER]    Script Date: 03-01-2025 01:55:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENDER](
	[GENDERID] [int] IDENTITY(1,1) NOT NULL,
	[GENDERNAME] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[GENDERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATE]    Script Date: 03-01-2025 01:55:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATE](
	[STATEID] [int] IDENTITY(1,1) NOT NULL,
	[STATENAME] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[STATEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CITY] ON 

INSERT [dbo].[CITY] ([CITYID], [CITYNAME], [STATEID]) VALUES (1, N'HYDERABAD', 1)
INSERT [dbo].[CITY] ([CITYID], [CITYNAME], [STATEID]) VALUES (2, N'WARANGAL', 1)
INSERT [dbo].[CITY] ([CITYID], [CITYNAME], [STATEID]) VALUES (3, N'GUNTUR', 2)
SET IDENTITY_INSERT [dbo].[CITY] OFF
GO
SET IDENTITY_INSERT [dbo].[DEPARTMENT] ON 

INSERT [dbo].[DEPARTMENT] ([DEPTID], [DEPTNAME]) VALUES (1, N'DEVELOPEMENT')
INSERT [dbo].[DEPARTMENT] ([DEPTID], [DEPTNAME]) VALUES (2, N'TESTING')
INSERT [dbo].[DEPARTMENT] ([DEPTID], [DEPTNAME]) VALUES (3, N'HR')
SET IDENTITY_INSERT [dbo].[DEPARTMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[EMPLOYEE] ON 

INSERT [dbo].[EMPLOYEE] ([EMPID], [EMPNAME], [EMPEMAIL], [EMPPHONE], [EMPADDRESS], [EMPGENDER], [EMPSTATE], [EMPCITY], [EMPDEPT], [ACTIVEFLAG], [DELETEFLAG], [EMPDOJ], [EMPDOB], [empsal]) VALUES (1, N'ASD', N'ASD@ASD.ASD', N'9123123123', N'ASD/ASD-ASD', 1, 1, 1, 1, N'Y', N'N', CAST(N'2000-01-01' AS Date), CAST(N'1969-04-06' AS Date), 15000.0000)
INSERT [dbo].[EMPLOYEE] ([EMPID], [EMPNAME], [EMPEMAIL], [EMPPHONE], [EMPADDRESS], [EMPGENDER], [EMPSTATE], [EMPCITY], [EMPDEPT], [ACTIVEFLAG], [DELETEFLAG], [EMPDOJ], [EMPDOB], [empsal]) VALUES (2, N'QWE', N'QWE@QWE.QWE', N'8123123123', N'QWE/QWE-QWE', 1, 1, 2, 2, N'Y', N'N', CAST(N'2000-01-01' AS Date), CAST(N'1969-04-06' AS Date), 15000.0000)
INSERT [dbo].[EMPLOYEE] ([EMPID], [EMPNAME], [EMPEMAIL], [EMPPHONE], [EMPADDRESS], [EMPGENDER], [EMPSTATE], [EMPCITY], [EMPDEPT], [ACTIVEFLAG], [DELETEFLAG], [EMPDOJ], [EMPDOB], [empsal]) VALUES (3, N'ZXC', N'ZXC@ZXC.ZXC', N'7123123123', N'ZXC/ZXC-ZXC', 2, 2, 1, 1, N'Y', N'N', CAST(N'2000-01-01' AS Date), CAST(N'1969-04-06' AS Date), 15000.0000)
SET IDENTITY_INSERT [dbo].[EMPLOYEE] OFF
GO
SET IDENTITY_INSERT [dbo].[GENDER] ON 

INSERT [dbo].[GENDER] ([GENDERID], [GENDERNAME]) VALUES (1, N'MALE')
INSERT [dbo].[GENDER] ([GENDERID], [GENDERNAME]) VALUES (2, N'FEMALE')
INSERT [dbo].[GENDER] ([GENDERID], [GENDERNAME]) VALUES (3, N'OTHER')
SET IDENTITY_INSERT [dbo].[GENDER] OFF
GO
SET IDENTITY_INSERT [dbo].[STATE] ON 

INSERT [dbo].[STATE] ([STATEID], [STATENAME]) VALUES (1, N'TELANGANA')
INSERT [dbo].[STATE] ([STATEID], [STATENAME]) VALUES (2, N'ANDHRA PRADESH')
INSERT [dbo].[STATE] ([STATEID], [STATENAME]) VALUES (3, N'KARNATAKA')
SET IDENTITY_INSERT [dbo].[STATE] OFF
GO
ALTER TABLE [dbo].[CITY]  WITH CHECK ADD FOREIGN KEY([STATEID])
REFERENCES [dbo].[STATE] ([STATEID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([EMPCITY])
REFERENCES [dbo].[CITY] ([CITYID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([EMPDEPT])
REFERENCES [dbo].[DEPARTMENT] ([DEPTID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([EMPGENDER])
REFERENCES [dbo].[GENDER] ([GENDERID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([EMPSTATE])
REFERENCES [dbo].[STATE] ([STATEID])
GO
USE [master]
GO
